.App-header { 
  background-color:#fff;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.headingwriting {
  z-index: 1; 
  color: #213555;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.div_heading{
  min-height: 65px;
  height:12vh;
  background-color: #000000;
  display: flex;
  flex-direction: row;
  position: static;
}

.div_one{
  width: 50%;
  background-color: #213555;
  display: flex;
  flex-direction: row;
  min-width: 500px;
}

.div_logo {
  top:3px;
  font-family: 'Dancing Script', cursive;
  font-size: 40px;
  background-size: cover;
  width: 120px;
  height: 100%;
  margin:20px;
  align-items: center;
  justify-content: center;
  color:#d0f2ff;

}
.btn{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 20px;
  padding: 25px;
  gap: 10px;
}
.form-col{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  padding: 10px;
  margin: 10px;
}
.div_center{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.data_row{
  margin: 20px;
  padding: 20px;
}
.div_bg{
  height:100%;
  color:#213555 !important;
  background-color: #fff;
}
.list{
  font-size: "14px";
}
.product-list-inner-wrapper{
  display: flex;
  flex-direction: row;
  max-width: 100%;
  flex-wrap: wrap;
  gap:20;
}
.container_div{
  display: flex;
  flex-direction: row;
  /* float: right;
  position: relative;
  margin-right: 20px; */

}
.header_div{
  padding: 20px;
}
.first_half{
  padding: 20px;
  position: relative;
  right:0;
  width:20%;
  display: flex;
  align-items: center;
}
.dropdown-wrapper{
  font-size: 26px;
  width:100%;
  color: #213555;
}
.second_label{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float:right;
  right:0;
  width:65%;
}
.label_div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
  width:5%;
  position: relative;
  float: right;
  right: 0;
}
.select_com{
  min-width: 100px;
  width:5%;
  align-items: center;
  display: flex;
}

.product-list{
  background-image: linear-gradient(to bottom right, #1461dd94, #d0f2ff);
  width:400px;
  background-color:#d0f2ff;
  color: #213555;
  margin: 50px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid #213555;
  border-style: inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div_two{
  font-size: 32px;
  min-width: 50px;
  padding: 10px;
  float: right;
  justify-content: right;
  align-items: center;
  background-color: #213555;
  width:50%;
  display: flex;
}

.div_links{
  min-height: 200px;
  height: 28vh;
  background-image: url('http://localhost:3000/old_bg.jpg');
  background-size: cover;
  position: static;
  align-items: center;
}

@media screen and (max-width: 768px) {
  body{
    font-size: 16px;
  }
}
.link{
    color: #ffffff;
    font-size: 2em;
    position: static;
 }
.links{
  display: flex;
  padding-top: 5%;
  padding-right: 10%;
  justify-content: space-around;
  align-items: center;
  color:#ffffff;
  position: static;
}
.link:hover{
  color:#ffffff ;
  transform: scale(1.1);
}

.form{
  font-size: 1em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background-color:#C5DFF8;
  color: #213555;
  background-image: linear-gradient(to bottom right, #1461dd94, #d0f2ff)
}
label{
  font-size: 2em;
  font-weight: 700;
  color: #213555;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-wrapper{
  font-size: 16px;
  justify-content: center;
  align-items: center;
  display: flex;
  padding-bottom: 20px;
  color:#213555;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 20px;
}

.slider {
  position: relative;
  display: flex;
  margin-top: 50px;
}

.image {
  width: 600px;
  height: 400px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: #fff;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

